AI Voice Calling Agent.json
{
  "name": "AI Voice Calling Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1y1duhMfk8_iGFbEHw-x_fAy9VZXkGl6W",
          "mode": "list",
          "cachedResultName": "BS AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1y1duhMfk8_iGFbEHw-x_fAy9VZXkGl6W"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        -1088
      ],
      "id": "dc5d06dd-c166-4c5f-bc9c-4e177e3687bf",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pgoCcEtq5Henb0Qh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "18k-VfeWQixn5iAfvaVSBezTmN1PlOgUD",
          "mode": "list",
          "cachedResultName": "scheme-studies-BS-CM-AI-28082025.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/18k-VfeWQixn5iAfvaVSBezTmN1PlOgUD/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1248,
        -1104
      ],
      "id": "01d97aca-b054-40ae-a859-5ef3649c24e7",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pgoCcEtq5Henb0Qh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "aiembedding",
          "mode": "list",
          "cachedResultName": "aiembedding"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -896,
        -1104
      ],
      "id": "5847159d-9536-482d-a97c-44a6e8f0707b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "D2TnoBjxTMjvE34o",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1008,
        -864
      ],
      "id": "c53f5df7-a9ad-4cec-8aef-5d9883429e52",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "plk5ppaCwxdHmYNC",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -816,
        -848
      ],
      "id": "e06320aa-dc92-418c-a7c8-33ebaa39ccb3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1200,
        -640
      ],
      "id": "0d7a796e-ba90-490c-b6f9-e82a4fcf592f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1344,
        -320
      ],
      "id": "20132509-e28d-419c-a0fd-468fa5a73c0e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "plk5ppaCwxdHmYNC",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1152,
        -320
      ],
      "id": "a019428f-c58b-42ec-a045-f2745732f117",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve data when the user asks for relevant data. When the data was retrieved give it in a well structured and simple language in the form of answers. ",
        "pineconeIndex": {
          "__rl": true,
          "value": "aiembedding",
          "mode": "list",
          "cachedResultName": "aiembedding"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -848,
        -320
      ],
      "id": "3bd929ed-c8a5-42e6-a0eb-87d843f76ab6",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "D2TnoBjxTMjvE34o",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -800,
        -128
      ],
      "id": "9d2ee4cc-4a40-4670-8daa-ddfbcf806622",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "plk5ppaCwxdHmYNC",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d4371f80-d07a-42af-b8e5-ef6f337c7c4f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1456,
        -624
      ],
      "id": "d0737c31-a8c1-4ec8-b708-ae884bedd99b",
      "name": "Webhook",
      "webhookId": "d4371f80-d07a-42af-b8e5-ef6f337c7c4f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -672,
        -656
      ],
      "id": "afe03f18-34ee-4882-a5ac-072b0592cf49",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "22416f9c-de89-4b9a-8efd-2ab86d242548",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "265bd9c6ca4f3f15ae1763ad48239b180fd13cec82118675aa21bec06d1f9310"
  },
  "id": "1RIci7DM0wPUd99p",
  "tags": []
}